mkdocs
mkdocs-material
mkdocs-i18n
# mkdocs-tags-plugin
mkdocs-statistics
mkdocs-glightbox
mkdocs-rss-plugin
mkdocs-minify-plugin
mkdocs_statistics_plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors